@use './scss/globals/index';
@use './scss/utils/index' as *;

.confirm-popup {
    position: absolute;
    cursor: pointer;
    width: rem(180);
    height: auto;
    font-weight: bold;
    padding: rem(15);
    background-color: var(--white);
    border: rem(2) solid var(--pastel-blue);
    border-radius: rem(20);
    box-shadow: rem(0) rem(0) rem(5) rem(5) var(--pastel-blue);
    transition: box-shadow 150ms ease-in-out;
    
    &.open-animation {
        z-index: 100;
        animation: fallDown 1.3s 1s forwards ease-in-out;

        @keyframes fallDown {
            0% {
                transform: translateY(0) rotate(0);
            }

            70% {
                transform: translateY(rem(700) rotate(180deg));
            }

            100% {
                transform: translateY(rem(500) rotate(360deg));
            }
        }
    }

    &:hover {
        box-shadow: rem(0) rem(0) rem(8) rem(8) var(--pastel-blue);
    }

    &__p {
        color: var(--marine-blue);
        font-family: var(--font-secondary);
        margin-bottom: rem(15);
    }

    &__img {
        width: rem(45);
        height: auto;

        animation: slideLtR 1s 1.5s ease-in-out alternate infinite;

            @keyframes slideLtR {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(rem(90));
                }
            }
    }

    &__thanks {
        margin-top: rem(10);
        color: rgb(26, 197, 26);
    }
}