@use './scss/globals/index';
@use './scss/utils/index' as *;

.confirm-popup {
    position: fixed;
    right: 5vw;
    top: 0;
    cursor: pointer;
    width: rem(180);
    height: auto;
    font-weight: bold;
    padding: rem(15);
    background-color: var(--white);
    border: rem(2) solid var(--pastel-blue);
    border-radius: rem(20);
    box-shadow: rem(0) rem(0) rem(5) rem(5) var(--pastel-blue);
    transition: box-shadow 150ms ease-in-out;
    transform: translateY(rem(-200));

    &.disabled {
        cursor: not-allowed;

        &:hover {
            background-color: var(--magnolia);
            box-shadow: rem(0) rem(0) rem(8) rem(8) var(--strawberry-red);
        }
    }
    
    &.animate {
        animation: fallDown linear;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes fallDown {
            0% {
                transform: translateY(rem(-200)) rotate(0deg);
            }

            30% {
                transform: translateY(rem(50)) rotate(70deg);
            }
            
            60% {
                transform: translateY(rem(120)) rotate(190deg);
            }

            100% {
                transform: translateY(rem(180)) rotate(360deg);
            }
        }
    }

    &:hover {
        background-color: var(--magnolia);
        box-shadow: rem(0) rem(0) rem(8) rem(8) var(--purplish-blue);
    }

    &__p {
        color: var(--marine-blue);
        font-family: var(--font-secondary);
        margin-bottom: rem(15);
    }

    &__img {
        width: rem(45);
        height: auto;

        animation: slideLtR 1s 2.5s linear alternate infinite;

            @keyframes slideLtR {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(rem(90));
                }
            }
    }

    &__thanks {
        margin-top: rem(10);
        color: hsl(120, 100%, 36%);
        font-size: rem(18);
    }
}