@use './scss/globals/index';
@use './scss/utils/index' as *;

.error-message {
    margin-bottom: rem(10);
    font-size: rem(16);
    color: var(--strawberry-red);

    &.hide {
        visibility: hidden;
    }
}