@use './scss/globals/index';
@use './scss/utils/index' as *;

.error-message {
    margin-bottom: rem(10);
    font-size: rem(15);
    font-weight: bold;
    color: var(--strawberry-red);
    display: block;
    height: rem(30);

    &.no-warning {
        color: green;
    }
}