@use './scss/globals/index';
@use './scss/utils/index' as *;

.first-step {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5%;

    &__h2 {
        font-size: rem(42);
        font-weight: 700;
        letter-spacing: -0.5px;
        color: var(--marine-blue);
        margin: rem(10) 0 rem(20) 0;
    }

    &__p {
        color: var(--cool-gray);
        font-size: rem(17);
        font-family: var(--font-secondary);
        margin-bottom: rem(25);
        white-space: nowrap; // only desktop
    }

    &__label {
        color: var(--marine-blue);
        font-size: rem(18);
        margin-bottom: rem(5);
        width: max-content;
    }

    &__input {
        font-size: rem(20);
        font-weight: bold;
        font-family: var(--font-primary);
        letter-spacing: rem(0.5);
        color: var(--marine-blue);
        padding: 1rem 0.8rem;
        border: rem(2) solid var(--light-gray);
        border-radius: rem(8);
        width: 100%;

        &::placeholder {
            font-family: var(--font-secondary);
            font-weight: bold;
            opacity: 0.3;
            letter-spacing: 0;
        }

        &:hover, &:focus {
            border: 2px solid var(--purplish-blue);
        }

        &:invalid {
            border: 2px solid var(--strawberry-red);
        }
    }
}