@use './scss/globals/index';
@use './scss/utils/index' as *;

.forth-step {
    display: flex;
    height: 100%;
    flex-direction: column;
    
    &.thanks-stage {
        justify-content: center;
        align-items: center;
    }

    &__h2 {
        font-size: rem(40);
        font-weight: 700;
        letter-spacing: -0.5px;
        color: var(--marine-blue);
        margin: rem(0) 0 rem(10) 0;
    }   

    &__p {
        color: var(--cool-gray);
        font-size: rem(18);
        font-family: var(--font-secondary);
        margin-bottom: rem(10);
        white-space: nowrap; // only desktop
    }

    &__span-OK {
        text-transform: uppercase;
    }

    &__confirm-section {
        background-color: var(--magnolia);
        border-radius: rem(15);
        padding: rem(5) rem(20);
    }

    &__confirm-block {
        padding-block: rem(15);
        display: flex;
        align-items: center;
        border-bottom: rem(2) solid var(--light-gray);

        &:last-child {
            border: none;
        }
    }

    &__confirm-info {
        display: flex;
        flex-flow: column nowrap;
        gap: rem(10);
    }

    &__title {
        font-family: var(--font-secondary);
        color: var(--marine-blue);
        font-size: rem(22);
    }

    &__selected-list {
        list-style: none;
        margin-left: rem(20);

        & > li {
            margin-bottom: rem(5);
            color: var(--marine-blue);
        }
    }

    &__anchor {
        cursor: pointer;
        color: var(--cool-gray);
        font-weight: bold;
        transition: transform 200ms ease-in-out, color 200ms ease-in-out;

        display: block;
        width: max-content;
        position: relative;
        margin-left: rem(15);
        padding-block: 0.2em;

        &:hover, &:focus {
            color: var(--purplish-blue);
            transform: scale(1.1) skew(-20deg);
        }

        // underline animation
        &::after {
            content: '';
            position: absolute;
            bottom: rem(-3);
            left: 0;
            width: 100%;
            height: rem(1.2);
            border-radius: rem(5);
            background-color: var(--strawberry-red);
            opacity: 1;
            transform: scale(0);
            transform-origin: center;
            transition: opacity 200ms, transform 300ms ease-in-out,
                        box-shadow 200ms ease-in-out; 
        }

        &:hover::after, &:focus::after {
            opacity: 1;
            transform: scale(1);
            box-shadow: rem(0) rem(0) rem(5) rem(3) var(--purplish-blue);
        }
    }

    &__price {
        margin-left: auto;
        color: var(--purplish-blue);
        font-weight: bold;
        font-size: rem(18);
        font-family: var(--font-secondary);
    }

    &__total {
        margin-top: rem(10);
        display: flex;
        padding-inline: rem(40);
        justify-content: space-between;
        align-items: center;
    }

    &__total-title {
        color: var(--purplish-blue);
        font-size: rem(24);
        font-family: var(--font-secondary);
    }

    &__total-price {
        font-size: rem(22);
        font-weight: bold;
        font-family: var(--font-secondary);
        color: var(--strawberry-red);
    }

    // thanks
    &__thanks-img {
        width: rem(80);
        height: auto;
    }

    &__thanks-title {
        margin-top: rem(20);
        font-size: rem(30);
        color: var(--purplish-blue);
        font-family: var(--font-secondary);
    }

    &__thanks-subtitle {
        text-align: center;
        line-height: 1.5;
        margin-top: rem(10);
        color: var(--marine-blue);
        margin-bottom: rem(80);
    }
}