@use './scss/utils/index' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--magnolia);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    width: 90vw;
    background-color: var(--white);
    border-radius: rem(20);
    position: relative;
    z-index: 100;
    top: rem(80);
    left: 5vw;

    @include breakpoint-up(small) {
        width: 95vw;
        position: static;
        margin-top: rem(150);
        height: rem(700);
        z-index: 0;
        overflow-y: visible;
        margin-inline: auto;
    }

    @include breakpoint-up(medium) {
        width: calc(rem(850) + 3vw);
    }

    @include breakpoint-up(large) {
        width: rem(950);
    }
}

.footer {
    height: rem(80);
    margin-top: rem(130);
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: flex-start;
    margin-inline: 5vw;
    background-color: var(--white);
    border-radius: rem(15);
    padding: rem(15) 0 0 0;
}
