@use './scss/utils/index' as *;

.main-section {
    padding-inline: rem(30);
    padding-block: rem(20);
    width: 100%;
    height: fit-content;

    @include breakpoint-up(small) {
        width: 53%;
        height: rem(700);
        margin-inline: auto;
        padding-inline: rem(20);
        padding-top: rem(25);
    }

    &__form {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__fieldset {
        border: none;
        height: 100%;
    }

    &__next {
        position: absolute;
        bottom: rem(10);
        right: rem(-10);
        width: rem(130);
        height: rem(50);
        background-color: var(--marine-blue);
        color: var(--white);
        font-family: var(--font-secondary);
        font-size: rem(17);
        font-weight: 500;
        border-radius: rem(10);
        cursor: pointer;
        transition: background-color 150ms ease-in-out;

        &:hover, &:focus {
            background-color: var(--purplish-blue);
        }

        &.disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }

    &__prev {
        position: absolute;
        bottom: rem(10);
        left: 0;
        width: rem(130);
        height: rem(50);
        font-family: var(--font-secondary);
        font-size: rem(17);
        font-weight: 500;
        border-radius: rem(10);
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &:hover, &:focus {
            background-color: var(--pastel-blue);
        }

        &.disabled {
            background-color: gray;
            cursor: not-allowed;
        }
    }
}
