@use './scss/globals/index';
@use './scss/utils/index' as *;

.second-step {
    $toggle-height: rem(22);
    $circle-height: rem(16);

    &__h2 {
        font-size: rem(42);
        font-weight: 700;
        letter-spacing: -0.5px;
        color: var(--marine-blue);
        margin: rem(10) 0 rem(20) 0;
    }   

    &__p {
        color: var(--cool-gray);
        font-size: rem(17);
        font-family: var(--font-secondary);
        margin-bottom: rem(25);
        white-space: nowrap; // only desktop
    }

    &__card-section {
        display: flex;
        gap: rem(30);
        margin-top: rem(30);
    }

    &__card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1 1 auto;
        width: rem(130);
        padding: rem(10);
        border: rem(2) solid var(--light-gray);
        border-radius: rem(15);

        &:hover, &:focus {
            border: rem(2) solid var(--purplish-blue);
        }
    }

    &__icon {
        width: rem(40);
        height: rem(40);
    }

    &__h4 {
        font-size: rem(20);
        font-family: var(--font-secondary);
        color: var(--marine-blue);
        margin-top: rem(50);
    }

    &__p {
        margin: rem(8) 0 0 0;
    }

    &__toggle-wrapper {
        margin-top: rem(40);
        background-color: var(--magnolia);
        height: rem(50);
        border-radius: rem(15);
        padding: rem(8);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(15);
    }

    &__input {
        opacity: 0;
    }

    &__toggle-button {
        width: rem(45);
        height: $toggle-height;
        background-color: var(--white);
        border-radius: rem(10);
        position: relative;
        transition: background-color 200ms ease-in-out;


        &.pressed {
            background-color: var(--pastel-blue);
        }
    }

    &__toggle-circle {
        background-color: var(--purplish-blue);
        width: rem(16);
        height: rem(16);
        display: block;
        position: absolute;
        top: calc(($toggle-height - $circle-height) / 2);
        left: rem(3);
        border-radius: 50%;
        border: rem(2) solid var(--strawberry-red);
        transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;

        &.pressed {
            transform: translateX(rem(23));
            background-color: var(--white);
            border: rem(2) solid var(--purplish-blue);            
        }
    }
}