@use './scss/globals/index';
@use './scss/utils/index' as *;

.second-step {
    $toggle-height: rem(22);
    $circle-height: rem(16);

    &__h2 {
        font-size: rem(42);
        font-weight: 700;
        letter-spacing: -0.5px;
        color: var(--marine-blue);
        margin: rem(10) 0 rem(20) 0;
    }

    &__p {
        color: var(--cool-gray);
        font-size: rem(20);
        font-family: var(--font-secondary);
        margin-bottom: rem(25);
        line-height: 1.3;

        @include breakpoint-up(small) {
            white-space: nowrap;
            font-size: rem(19);
            line-height: 1;
        }
    }

    &__card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(30);
        margin-top: rem(30);
        
        @include breakpoint-up(small) {
            display: flex;
            flex-flow: row nowrap;
            gap: rem(30);
        }
    }

    &__card {
        display: flex;
        width: 95%;
        height: rem(100);
        justify-content: flex-start;
        align-items: center;
        padding: rem(15) rem(15);
        gap: rem(15);

        @include breakpoint-up(small) {
            flex-direction: column;
            flex-wrap: nowrap;
            flex: 1 1 auto;
            width: rem(130);
            padding: rem(10);
        }

        cursor: pointer;
        border: rem(2) solid var(--light-gray);
        border-radius: rem(15);
        box-shadow: rem(0) rem(0) rem(3) rem(2) var(--pastel-blue);
        transition: border-color 200ms ease-in-out, 
                    box-shadow 150ms ease-in-out,
                    background-color 150ms ease-in-out,
                    transform 200ms ease-in-out,
        ;

        &:hover, &:focus {
            border: rem(2) solid var(--pastel-blue);
            box-shadow: rem(0) rem(0) rem(5) rem(2) var(--pastel-blue);
        }

        &.chosen {
            background-color: var(--magnolia);
            border: rem(2) solid var(--purplish-blue);
            box-shadow: rem(0) rem(0) rem(5) rem(2) var(--purplish-blue);
            transform: scale(1.05);

            @include breakpoint-up(small) {
                transform: scale(1.1);
            }
        }
    }

    &__icon {
        width: rem(40);
        height: rem(40);
    }

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__h4 {
        font-size: rem(20);
        font-family: var(--font-secondary);
        color: var(--marine-blue);
        
        @include breakpoint-up(small) {
            margin-top: rem(50);
        }
    }

    &__p {
        margin: rem(5) 0 0 0;
    }

    &__toggle-wrapper {
        margin-top: rem(40);
        background-color: var(--magnolia);
        height: rem(60);
        border-radius: rem(15);
        padding: rem(8);

        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(15);
    }

    &__label {
        cursor: pointer;
        font-size: rem(19);
        font-weight: bold;
        font-family: var(--font-secondary);
        padding: rem(5);
        color: var(--cool-gray);
        transition: color 200ms ease-in-out, 
                    border-color 200ms ease-in-out,
                    background-color 150ms ease-in-out,
                    box-shadow 200ms ease-in-out,
                    transform 200ms ease-in-out,
        ;
        border: rem(3) solid transparent;
        border-radius: rem(10);


        &.chosen {
            color: var(--purplish-blue);
            background-color: var(--light-blue);
            border: rem(3) solid var(--purplish-blue);
            border-radius: rem(10);
            box-shadow: rem(0) rem(0) rem(4) rem(1) var(--purplish-blue);
            transform: scale(1.1);
        }
    }

    &__toggle-button {
        width: rem(45);
        height: $toggle-height;
        background-color: var(--light-gray);
        border-radius: rem(10);
        position: relative;
        transition: background-color 200ms ease-in-out;
        cursor: pointer;


        &.pressed {
            background-color: var(--pastel-blue);
        }
    }

    &__toggle-circle {
        background-color: var(--white);
        width: rem(16);
        height: rem(16);
        display: block;
        position: absolute;
        top: calc(($toggle-height - $circle-height) / 2);
        left: rem(3);
        border-radius: 50%;
        border: rem(2) solid var(--marine-blue);
        box-shadow: rem(0) rem(0) rem(3) rem(1) var(--marine-blue);
        transition: transform 200ms ease-in-out, background-color 200ms ease-in-out,
                    box-shadow 200ms ease-in-out;

        &.pressed {
            transform: translateX(rem(23));
            background-color: var(--purplish-blue);
            border: rem(2) solid var(--strawberry-red);
            box-shadow: rem(0) rem(0) rem(5) rem(3) var(--purplish-blue);            
        }
    }
}