@use './scss/utils/index' as *;
@use './scss/globals/index';

.step-info {
    position: relative;

    &__wrapper {
        position: relative;
        top: rem(50);
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(30);
        width: 100%;
        z-index: 15;

        @include breakpoint-up(small) {
            position: absolute;
            top: rem(20);
            left: rem(10);
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 2vw;
            padding-top: rem(50);
        }
    }
    
    @include breakpoint-up(small) {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: rem(15);
        margin: rem(15) 0 0 rem(15);
        padding-left: 2vw;
        padding-top: rem(50);
        height: 100%;
        width: 30%;
        position: relative;
    }

    &__bg {
        display: block;
        margin-block: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 10;

        @include breakpoint-up(small) {
            position: absolute;
            height: auto;
            max-height: rem(650);
            min-width: rem(240);
            width: calc(37vw);
            max-width: rem(280);
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(20);
        z-index: 1;
    }

    &__number {
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        border: rem(2) solid var(--magnolia);
        color: var(--magnolia);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;

        &.current {
            color: var(--marine-blue);
            background-color: var(--light-blue);
        }
    }

    &__titles {
        display: none;

        @include breakpoint-up(small) {
            display: flex;
            flex-direction: column;
        }
        
        span {
            text-transform: uppercase;
        }

        span:first-child {
            font-size: 1rem;
            color: var(--cool-gray);
        }

        span:nth-child(2) {
            font-size: 1.2rem;
            font-weight: bold;
            font-family: var(--font-secondary);
            letter-spacing: rem(0.8);
            color: var(--white);
        }
    }
}