@use './scss/utils/index' as *;
@use './scss/globals/index';

.step-info {
    display: flex;
    flex-flow: column nowrap;
    gap: rem(15);
    margin: rem(15) 0 0 rem(15);
    padding-left: 2vw;
    padding-top: rem(50);
    height: 100%;
    width: 30%;
    position: relative;

    &__bg {
        position: absolute;
        height: rem(615);
        width: rem(300);
        top: 0;
        left: 0;
        margin-block: auto;
        display: block;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        gap: rem(20);
        z-index: 1;
    }

    &__number {
        width: rem(50);
        height: rem(50);
        border-radius: 50%;
        border: rem(2) solid var(--magnolia);
        color: var(--magnolia);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: bold;

        &.current {
            color: var(--marine-blue);
            background-color: var(--light-blue);
        }
    }

    &__titles {
        display: flex;
        flex-direction: column;

        span {
            text-transform: uppercase;
        }

        span:first-child {
            font-size: 1rem;
            color: var(--cool-gray);
        }

        span:nth-child(2) {
            font-size: 1.2rem;
            font-weight: bold;
            font-family: var(--font-secondary);
            letter-spacing: rem(0.8);
            color: var(--white);
        }
    }
}