@use './scss/globals/index';
@use './scss/utils/index' as *;

.third-step {
    width: 100%;

    @include breakpoint-up(small) {
        min-width: rem(300);
        width: 50vw;
    }

    @include breakpoint-up(medium) {
        min-width: rem(400);
        width: 55vw;
        max-width: rem(500);
    }

    @include breakpoint-up(large) {
        min-width: rem(500);
        width: 65vw;
        max-width: rem(550);
    }

    &__h2 {
        font-size: rem(42);
        font-weight: 700;
        letter-spacing: -0.5px;
        color: var(--marine-blue);
        margin: rem(10) 0 rem(20) 0;
    }

    &__p {
        color: var(--cool-gray);
        font-size: rem(20);
        font-family: var(--font-secondary);
        margin-bottom: rem(25);
        line-height: 1.3;

        @include breakpoint-up(small) {
            font-size: rem(19);
            line-height: 1;
        }

        @include breakpoint-up(large) {
            white-space: nowrap;
        }
    }

    &__option-section {
        display: flex;
        flex-direction: column;
        gap: rem(20);
        height: fit-content;
    }

    &__panel {

        @include breakpoint-down(small) {
            min-height: rem(130);
            padding: calc(rem(10) + 2vw);
        }

        @include breakpoint-up(medium) {
            padding: 3%;
        }

        display: flex;
        align-items: center;
        min-height: rem(120);
        height: min-content;
        border: rem(2) solid var(--light-gray);
        border-radius: rem(10);
        transition: border-color 300ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms ease-in-out;
        cursor: pointer;

        &:hover, &:focus {
            border: rem(2) solid var(--pastel-blue);
            box-shadow: rem(0) rem(0) rem(4) rem(2) var(--pastel-blue);
            background-color: var(--magnolia);
        }

        &.chosen {
            background-color: var(--magnolia);
            border: rem(2) solid var(--purplish-blue);
            box-shadow: rem(0) rem(0) rem(4) rem(2) var(--purplish-blue);
        }
    }

    &__checkmark {
        width: rem(25);
        height: rem(25);
        border-radius: rem(5);
        border: rem(1) solid var(--light-gray);
        margin-left: rem(8);
        display: block;
        flex-shrink: 0;
        

        &.chosen {
            background-image: url('./assets/images/icon-myAnotherCheck.svg');
            background-repeat: none;
            background-position: center;
            border-radius: 0;
        }   
    }

    &__title-wrapper {
        margin-left: rem(30);
        font-family: var(--font-secondary);
    }

    &__title {
        margin-bottom: rem(6);
        color: var(--marine-blue);
        font-size: rem(20);
    }

    &__sub-title {
        color: var(--cool-gray);
        font-weight: 500;
        font-size: rem(18);
    }

    &__price {
        margin-left: auto;
        margin-right: rem(10);
        color: var(--purplish-blue);
        font-family: var(--font-secondary);
        font-weight: 500;
        font-size: rem(19);
        padding-left: rem(7);

        transition: color 150ms ease-in-out, transform 200ms ease-in-out;

        &.chosen {
            color: var(--strawberry-red);
            transform: scale(1.2);
        }
    }
}