@use '../utils/index' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--magnolia);
}

.main {
    display: flex;
    height: rem(730);
    width: rem(900);
    background-color: var(--white);
    border-radius: rem(20);
}