@use '../utils/index' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--magnolia);
}

.main {
    display: flex;
    height: rem(730);
    width: 90vw;
    background-color: var(--white);
    border-radius: rem(20);

    @include breakpoint-up(small) {
        width: calc(rem(650) + 5vw);
    }

    @include breakpoint-up(medium) {
        width: calc(rem(850) + 3vw);
    }

    @include breakpoint-up(large) {
        width: calc(rem(950) + 3vw);
    }
}