html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: var(--font-primary);
    min-height: 100vh;    
}

h1, h2 {
    line-height: 1.1;
    letter-spacing: 1px;
    font-family: var(--font-secondary);
}

input, button {
    font: inherit;
    background: inherit;
    outline: none;
    border: none;
}